.logo
{
    overflow: hidden;
}
.logo img
{
    width:200px;
}

.link-column
{
    flex-direction: column;
    align-items: center;
    gap:20px;
}

.footer-container
{
    align-items: center;
    justify-content: space-between;
    margin-top:80px;
}
.footer
{
    background: #ebf2fa;
    margin-top:80px;
}

@media only screen and (max-width: 768px) 
{
    .footer-container
    {
        flex-direction: column;
        gap:30px;
    }

}
